.postsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 235px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.addArticle {
    margin-top: 10px;
    background-color: #D0F0FF;
    margin-bottom: 20px; 
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}