.app-wraper {
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "h"
  "c";
}

.header {
  grid-area: h;
  background-color: #D0F0FF;
  display: grid;
  grid-template-columns: repeat(8, 0.125fr);
}

.header img {
  width: 150px;
}
.content {

 grid-area: c;
}